*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin-left: 200px;
    width: 70vw;
    background-color: rgb(73, 105, 219);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 10px rgb(73, 105, 219);
}
img {
    padding: 30px;
    border-radius: 60px;
    width: 200px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding: 70px;
    width: 40vw;
    font-size: 20px;
}
header nav ul a {
    color:white;
    text-decoration: none;
}
header nav ul span {
    font-size: 20px;
}
div.carrito {
    padding-top: 45px;
    padding-right: 30px;
    color:rgb(13, 11, 11)
}






/* Menu hamburguesa Dinamico */
.bars_menu {
    display:none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bars_menu span {
    display: block;
    width: 100%; 
    height: 2px;
    background-color: #d84c4c;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
}

.activeline1_bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
}
.activeline2_bars-menu {
    opacity: 0;
    margin-left: -30px;
}
.activeline3_bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px); 
}